@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Text selection styling */
::selection {
	background-color: #0083ff;
	color: white;
}

::-moz-selection {
	background-color: #0083ff;
	color: white;
}
